*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-transform: inherit;
}
.container .title::before{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #9b59b6;
}
.user-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
 .details{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0,3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #9b59b6;
}
.gender-title{
    font-size: 20px;
    font-weight: 500;
}
.category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.category label{
     display: flex;
     align-items: center;
}
.category .dot{
    height: 18px;
    width: 18px;
    background: #9b59b6;
    border-radius: 5%;
    margin-right: 10px;
    border: 5px solid transparent;
}
.bouton input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 17px;
    border-radius: 20px;
}
